body{
    background: linear-gradient( to bottom, rgb(15, 14, 14), transparent), url("../images/coffee2.jpg") center/cover no-repeat;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;

img {
    max-width: 100%;
    height:auto;
    border-radius:8px;
}
h1{
    color: #8b5e3c;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5vh;
    font-size: clamp(2rem, 5vw, 3.75rem);
}
.menu{
    display: flex;
    justify-content: center;
    gap: 25px;
    
    
}
.menu a{
    background-color: #8b5e3c;
    text-decoration: none;
    font-size: 1.5em;
    color: #ffffff;
    padding: 10px, 20px;
    border-radius: 8px;
    transition: transform 0.2s, background-color 0.3s;
    width: 250px;
    text-align: center;
}
.menu a:hover{
    background-color: #8b5e3c;
    transform: scale(1.05);
}
.intro{
    text-align: center;
    margin-top: 50px;
    color: #835536;
}
.intro h2{
    font-size: clamp(1.8rem, 4vw, 2.2rem);
    margin-bottom: clamp(20px, 5vh, 60px);
}
.intro p{
    font-size: clamp(1rem, 2.5vw, 1.2em);
    margin-bottom: clamp(15px,5vh, 50px);
}
.horario{
    font-size: 1.1em;
    font-weight: bold;
    color: #d4af37
}
.reservaciones {
    font-size: 1.1em;
    font-weight: bold;
    color: #8b5e3c;
    margin-bottom: 20px;
}


